.box_wrapper {
  margin-right: 16px;
  margin-bottom: 24px;
  @media (max-width: 576px) {
    margin-right: 0;
  }
  @media (min-width: 576px) and(max-width: 1024px) {
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  @media (min-width: 1024px) {
    margin-right: 16px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
.box_row_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 100%;
}
