@import '../variables.scss';

.whole_layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  // max-width: 100vw;
  min-height: 100vh;
  background-color: #f3f6fb;
}

.right_contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  @media (min-width: 768px) {
    padding-left: max(94px, 4vw);
  }
}

.main {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  max-width: 1600px;
  // overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  // box-sizing: border-box;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 50px;
  // @media (min-width: 768px) {
  //   padding-left: 200px;
  //   padding-right: 200px;
  // }
  @media (max-width: 768px) {
    //for header fixed position
    // padding-top: 110px;
    // padding-left: 10vw;
    // padding-right: 10vw;
  }
}

.main_padding_with_tab {
  padding-top: 15px;
  @media (max-width: 768px) {
    padding-top: 140px;
    // padding-left: 24px;
    // padding-right: 24px;
  }
}
.main_padding_no_tab {
  padding-top: 24px;
  @media (max-width: 768px) {
    // padding-left: 24px;
    // padding-right: 24px;
    padding-top: 8vh;
  }
}
