.box_wrapper {
  margin-right: 16px;
  margin-bottom: 24px;
  &:nth-child(even) {
    margin-right: 0;
  }
}
.box_row_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  @media (min-width: 1024px) {
    width: 80%;
  }
}
