@import '../variables.scss';

.reply {
  width: 70vw;
  @media (max-width: 768px) {
    width: 80vw;
  }
}

.uploader__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user_info_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5%;
}
.user_avatar {
  cursor: pointer;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  margin-right: 20px;
}
.user_name {
  color: $dark_font_color;
}

.wrote_date {
  color: $dark_font_color;
}

.markdown {
  background: $white_color;
  border-radius: 10px;
  min-height: 60px;
  color: $dark_font_color;
  padding: 15px;
  margin-bottom: 40px;
}

.qa_reply_wrapper {
  width: 70vw;
  @media (max-width: 768px) {
    width: 80vw;
  }
}
