@import '../variables.scss';

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.auth_title {
  font-weight: bold;
  font-size: 32px;
  color: $dark_font_color;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.form_margin {
  margin-bottom: 32px;
}

.validation_error_text {
  font-size: 18px;
  color: tomato;
}
