@import '../variables.scss';

.group_card {
  display: flex;
  flex-direction: row;
  padding: 16px 12px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background: #fff;

  &__selected {
    background: #f2f1f2;
  }
  @media (max-width: 1024px) {
    width: 26vw;
  }
  @media (min-width: 1024px) {
    width: 22vw;
  }
  @media (max-width: 768px) {
    width: 90vw;
  }
}

.avatar {
  margin-right: 8px;
}

.right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80%;
  justify-content: space-around;
  height: 60px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  font-weight: bold;
  color: $dark_font_color;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.date {
  color: $dark_font_color;
  font-size: 12px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.latest_message {
  font-size: 12px;
  color: $dark_font_color;
  white-space: nowrap;
  text-overflow: ellipsis;
}
