@import '../variables.scss';

.participants_area {
  border: 1px $header_background_color solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.participant_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 50px;
  justify-content: space-between;
  border-bottom: 1px $header_background_color solid;
}

.participant_list_title {
  color: $green_color;
  font-weight: bold;
  font-size: 20px;
}

.see_all_text {
  color: $blue_color;
  font-weight: bold;
  font-size: 20px;
}

.participant_name_wrapper {
  border-bottom: 1px $header_background_color solid;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.participant_info_wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.user_info_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.participant_name {
  color: $dark_font_color;
  font-weight: bold;
  font-size: 18px;
}
.participant_avatar {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-right: 10px;
}
