@import '../variables.scss';

.oblong_button {
  text-align: center;
  color: $white_color;
  min-width: 80px;
  @media (max-width: 768px) {
    width: 40px;
    font-size: 12px;
  }
  height: 28px;
  border-radius: 5px;
  white-space: nowrap;
  padding: 0 10px;
}
.tag_button__blue {
  background: $blue_color;
}
