@import '../variables.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-right-width: 2px;
  border-color: #afb4b5;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 240px;

  @media (max-width: 912px) {
    position: fixed;
    width: 240px;
    height: 100vh;
    z-index: 50;
  }
  @media (min-width: 912px) {
    position: fixed;
    min-width: 240px;
    height: 100vh;
    min-height: -webkit-fill-available;
  }
}
.sidebar_responsive {
  display: flex;
  position: fixed;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  background: $sidebar_background_color;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 50;

  @media (max-width: 768px) {
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 40px;
  }
}

.sidebar_responsive__disable {
  display: none;
}

.icon_with_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  @media (max-width: 768px) {
    flex-direction: row;
  }
  &:hover {
    opacity: 0.7;
  }
}

.icon {
  // min-height: 45px;
  // min-width: 45px;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  @media (max-width: 768px) {
    margin-right: 20px;
  }
}

.ham_icon {
  width: 8vw;
  height: 8vw;
  position: fixed;
  top: 10px;
  left: 10px;
  color: $blue_color;
  z-index: 99;
  @media (min-width: 576px) {
    width: 45px;
    height: 45px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.cancel_icon {
  height: 30px;
  width: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  color: $blue_color;
  z-index: 99;
  @media (min-width: 768px) {
    display: none;
  }
}

.icon__active {
  color: #0b3cae;
}

.icon__disable {
  color: #404446;
}

.border_white {
  height: 3px;
  background: $sidebar_disable_icon_color;
  border-radius: 10px;
  width: 50px;
  margin-bottom: 15px;
  @media (max-width: 768px) {
    width: 80vw;
  }
}

.icon_with_name__disable {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-right: 14px;
  padding-left: 14px;
  height: 50px;
  @media (max-width: 912px) {
    height: 30px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.icon_with_name__active {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f2f5fb;
  border-radius: 5px;
  padding-right: 14px;
  padding-left: 14px;
  height: 50px;
  @media (max-width: 912px) {
    flex-direction: row;
  }
  &:hover {
    opacity: 0.7;
  }
}

.top_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  @media (max-width: 912px) {
    margin-bottom: 30px;
  }
}

.bold_logo_and_text {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.bold_logo {
  width: 40px;
  height: 40px;
}

.logo_text {
  font-size: 20px;
  font-weight: 700;
  color: $blue_color;
  margin-left: 15px;
}

.icon_name__active {
  font-size: 16px;
  font-weight: 700;
  color: $blue_color;
  margin-left: 15px;
}

.icon_name__disable {
  font-size: 12px;
  font-weight: 700;
  color: #404446;
  margin-left: 15px;
}

.outline_double_left {
  color: #404446;
  margin-right: 14px;
  @media (min-width: 912px) {
    display: none;
  }
}

.login_user_item {
  display: flex;
  height: 66px;
  align-items: center;
  border-width: 1px;
  // color: #fff;
  margin-top: auto;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.login_user_icon {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.login_user_name_text {
  color: #fff;
}

.login_user_name_with_icon {
  display: flex;
  align-items: center;
}
