@import '../variables.scss';

.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  min-width: 94px;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  background: $sidebar_background_color;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 0;

  @media (min-width: 1440px) {
    width: 4vw;
  }
}
.sidebar_responsive {
  display: flex;
  position: fixed;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  background: $sidebar_background_color;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 50;

  @media (max-width: 768px) {
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 40px;
  }
}

.sidebar_responsive__disable {
  display: none;
}

.icon_with_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  @media (max-width: 768px) {
    flex-direction: row;
  }
  &:hover {
    opacity: 0.7;
  }
}

.icon {
  min-height: 45px;
  min-width: 45px;
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 5px;
  @media (max-width: 768px) {
    margin-right: 20px;
  }
}

.ham_icon {
  width: 8vw;
  height: 8vw;
  position: fixed;
  top: 10px;
  left: 10px;
  color: $blue_color;
  z-index: 99;
  @media (min-width: 576px) {
    width: 45px;
    height: 45px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.cancel_icon {
  height: 30px;
  width: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  color: $blue_color;
  z-index: 99;
  @media (min-width: 768px) {
    display: none;
  }
}

.icon__active {
  color: $white_color;
}

.icon__disable {
  color: $sidebar_disable_icon_color;
}

.icon_name__active {
  font-size: $p_font_size;
  color: $white_color;
}

.icon_name__disable {
  font-size: $p_font_size;
  color: $sidebar_disable_icon_color;
}

.border_white {
  height: 3px;
  background: $sidebar_disable_icon_color;
  border-radius: 10px;
  width: 50px;
  margin-bottom: 15px;
  @media (max-width: 768px) {
    width: 80vw;
  }
}
