@import '../variables.scss';

.tag_item_wrapper {
  margin-right: 8px;
}

.tags_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
  width: 88%;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 768px) {
    width: 84%;
  }
}

.tags_label {
  margin-right: 8px;
  word-break: keep-all;
  width: 12%;
  max-width: 64px;
  font-size: 14px;
  @media (max-width: 768px) {
    width: 20%;
  }
}
