@import '../variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 36vw;
  padding: 4px 8px;
  background: $header_background_color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media (max-width: 1024px) {
    width: 85vw;
  }
  &:hover {
    cursor: pointer;
  }
}

.top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;
}

.avatar {
  margin-right: 8px;
}

.bottom {
  width: 100%;
}

.name {
  font-weight: bold;
  color: $dark_font_color;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin-bottom: 4px;
}

.sub_info_text {
  font-size: 14px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  @media (max-width: 576px) {
    font-size: 12px;
    width: 100%;
  }
}

.sub_info_wrapper {
}

.introduce_text_wrapper {
  // height: 16px;
}

.introduce_text {
  color: $dark_font_color;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.count_label_text {
  // margin-right: 8px;
}

.count {
  font-weight: bold;
  color: $blue_color;
  font-size: 18px;
}

.tag_item_wrapper {
  margin-right: 8px;
}

.tags_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
  width: 88%;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 768px) {
    width: 84%;
  }
}

.tags_with_label_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.tags_label {
  margin-right: 8px;
  word-break: keep-all;
  width: 12%;
  max-width: 64px;
  font-size: 14px;
  @media (max-width: 768px) {
    width: 20%;
  }
}

.user_info_text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
