$global_base_color: #f9fafb;
$tab_color: #f7f9fa;
$white_color: #fff;
$dark_font_color: #65657d;
$sidebar_disable_icon_color: #b0b0b0;
$sidebar_background_color: #47505c;
$input_border_color: #c4c4c4;
$green_color: #5dc6a9;
$header_background_color: #ececec;
$blue_color: #4a72d3;
$warm_color: #ed7d59;

// test
// $brand_color: #4a72d3; // Bold
$brand_color: #00aebd; // funreturn

$p_font_size: max(16px, 0.7vw);
$middle_font_size: max(18px, 0.8vw);
