@import '../../variables.scss';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 576px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.update_button {
  width: 14vw;
  aspect-ratio: 5;
  font-size: 18px;
  background-color: $blue_color;
}

.update_button_wrapper {
  @media (max-width: 576px) {
    margin-bottom: 40px;
  }
}

.image_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 30vw;
  @media (max-width: 576px) {
    margin-right: 0;
    width: 70vw;
  }
}

.image_dropzone {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  margin-bottom: 16px;
  width: 30vw;
  height: 31vw;
  border-radius: 100%;
  @media (max-width: 576px) {
    width: 50vw;
    height: 51vw;
  }
  &:hover {
    cursor: pointer;
  }
}

.avatar {
  width: 30vw;
  height: 30vw;
  @media (max-width: 576px) {
    width: 50vw;
    height: 51vw;
  }
  border-radius: 100%;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 40vw;
  @media (max-width: 576px) {
    width: 70vw;
    margin-bottom: 0;
  }
}

.input_wrapper {
  margin-bottom: 12px;
}

.finish_button_wrapper {
  margin-bottom: 40px;
}

.edit_tags_button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 8px;
  border-bottom: 1px solid #b0b0b0;
}

.selected_tags_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.selected_tag_item {
  margin-bottom: 4px;
  margin-right: 4px;
}
