@import '../../variables.scss';

.mb_8 {
  margin-bottom: 8px;
}

.sub_title {
  color: $dark_font_color;
  font-weight: bold;
}

.form_wrapper {
  height: fit-content;
  background: $white_color;
  border-radius: 10px;
  width: 40vw;
  max-width: 900px;
  padding: 8px;
  @media (max-width: 768px) {
    width: 80vw;
    margin-bottom: 16px;
  }
}

.event_export_form {
  margin-right: 16px;
}

.duration_wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.date_select_wrapper {
  width: 45%;
}

.main {
  display: flex;
  flex-flow: row;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.annotation_text {
  font-size: 14px;
  color: $blue_color;
}

.download_button_wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
